.container-fluid {
  margin-top: 80px;
}

.navigation-links ul {
  list-style-type: none;
}

.navigation-links a {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.homepage-notsigned {
  color: white;
  padding-left: 50px;
  padding-top: 50px;
}

#homepage-notsigned-img img {
  height: 89px;
  display: flex;
  align-items: center;
}

.homepage-banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
