<div class="todos-card">
  <div class="todos-card-title">
    <p><%= todo.title %></p>
  </div>
  <div class="todos-card-description">
    <p><%= todo.description %></p>
  </div>
  <div class="todos-card-actions">
    <div class="todos-card-edit">
      <%= link_to "Edit", edit_todo_path(todo) %>
    </div>
    <div class="todos-card-delete">
      <%= link_to "Delete", todo_path(todo), method: :delete %>
    </div>
  </div>
</div>

