.all-todos {
  margin-top: 75px;
}

.all-todo-first {
  display: flex;
}

.all-todo-first-icon img {
  height: 20px;
}

.all-todo-first-txt {
  font-size: 22px;
  padding-left: 15px;
  font-style: italic;
  margin-bottom: 50px;
}

.all-todos-cards {
  margin-top: 10px;
}

.todos-card {
  position: relative;
  background-color: #fff60b;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
}

.todos-card-title {
  font-size: 20px;
}

.todos-card-actions {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: space-between;
  width: 85px;
}

.todos-card-actions a {
  cursor: pointer;
  text-decoration: none;
  color: #898976;
}

.all-todos-create {
  padding: 15px;
}

.all-todos-create-title {
  cursor: pointer;
}

.menu-dropdown-new-todo {
  height: 30px;
}

.menu-dropdown-new-todo-up {
transform: rotate(180deg);
}

.hidden {
  display: none;
}
