.all-todos {
  margin-top: 75px;
  color: white;
}

.all-todo-first {
  display: flex;
}

.all-todo-first-icon img {
  height: 20px;
}

.all-todo-first-txt {
  font-size: 22px;
  color: white;
  padding-left: 15px;
  font-style: italic;
  margin-bottom: 50px;
}

.all-todos-cards {
  margin-top: 10px;
  color: black;
}

.todos-card {
  position: relative;
  background-color: #fff60b;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
  padding: 15px;
  margin-bottom: 10px;
}

.todos-card-title {
  font-size: 20px;
}

.todos-card-actions {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: space-between;
  width: 80px;
  font-size: 14px;
}

.todos-card-actions a {
  cursor: pointer;
  text-decoration: none!important;
  color: #898976;
}

.all-todos-create {
  padding: 15px;
}

.all-todos-create-title {
  cursor: pointer;
}

.menu-dropdown-new-todo {
  padding-left: 10px;
  height: 25px;
}

.menu-dropdown-new-todo-up {
transform: rotate(180deg);
}

.hidden {
  display: none;
}

.user-avatar-menu {
  position: relative;
  display: inline-block;
}
.user-menu {
  position: absolute;
  min-width: 200px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px 10px;
  z-index: 1050;
  margin-top: 3px;
  right: 3px;
}
