<div class="container-fluid">
    <h1 id="todo-edit-page-title">Edit your todo: <%= @todo.title %></h1>
  <div class="row">
    <div class="todo-edit-form col-xs-12 col-sm-6 offset-sm-2">
      <%= render 'shared/todos_form', todo: @todo %>
    </div>
  </div>
</div>
