<div class="container-fluid all-todos">
  <h1>My Todo's</h1>
  <div class="row">
    <div class="all-todos-cards col-xs-12 col-sm-6 offset-sm-2" id="todos">
      <% if @todos.blank? %>
        <div class="all-todo-first">
          <div class="all-todo-first-icon">
          <%= image_tag ("icons/paper-plane.svg") %>
          </div>
          <div class="all-todo-first-txt">
          Add your first todo
          </div>
        </div>
      <% else %>
        <% @todos.each do |todo| %>
          <%= render 'shared/todos_card', todo: todo %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="all-todos-create col-xs-12 col-sm-6 offset-sm-2">
    <div class="all-todos-create-title">
      <h3>Create new todo</h3>
    </div>
    <%= render 'shared/todos_form', todo: @todo %>
  </div>
  <div><%= link_to "Signout", destroy_user_session_path, method: :delete %> </div>
</div>
