.navbar-todo {
  height: 68px;
  width: 100%;
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1050;
}

.navbar-todo-logo {
}

.navbar-todo-logo img {
  height: 50px;
  width: 50px;
}

.search-box-field {
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 1)!important;
  color: gray;
  width: 275px;
  padding-top: 5px;
  padding-left: 15px;
  border-radius: 10px;
}

.search-box-field:focus {
  outline-width: 0;
}

.search-box-field::-webkit-input-placeholder {
  color: gray;
}

.search-box-field:focus::-webkit-input-placeholder {
  transition: 0.5s ease;
  opacity: 0;
}

.navbar-search-button {
  border-radius: 10px;
  background-color: white;
  color: gray;
  cursor: pointer;
  border-style: light-gray;
  height: 31px;
}

.navbar-todo-avatar {
  padding: 0px 25px;
  cursor: pointer;
}

.navbar-todo-avatar img {
  height: 35px;
  width: 35px;
  padding: 2px;
  border: 1px solid gray;
  border-radius: 50%;
}

.navbar-todo-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-todo-right-login a {
  text-decoration: none;
}
